<div class="page-title">
  <h1 class="page-title">Admin - Erstelle einen Kurs</h1>
</div>
<section class="card-container">
  <p>
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        <form action="/admin/courses/add" method="post">

          <label for="name">Name</label>
          <input type="text" name="name" id="name">
          <br><br>

          <label for="teacher">Lehrer</label>
          <input type="text" name="teacher" id="teacher">
          <br><br>

          <label for="capacity">Schüleranzahl</label>
          <input type="text" name="capacity" id="capacity">
          <br><br>

          <label for="type">Art</label>
          <select name="type" id="type">
            <option value="COURSE">Kurs</option>
            <option value="WORKSHOP">Workshop</option>
          </select>
          <br><br>

          <label for="startDate">Startdatum:</label>
          <input type="text" name="startDate" id="startDate">
          <br><br>

          <p>Füge bitte alle Daten hinzu, indem du den Kurs später bearbeitest!<br>Add all of the dates by editing the
            course!</p>

          <br><br>
          <label for="description">Beschreibung(bei Workshops):</label>
          <input type="text" name="description" id="description">
          <br><br>

          <button type="submit">Erstellen</button>
        </form>
      </div>
    </div>
  </p>
</section>