<div class="page-title">
  <h1 class="page-title">Admin</h1>
</div>

<section class="card-container">
  <div class="card" style="width: 30rem;">
    <div class="card-body"><br>
      <a class="btnHref"href="/admin/allPosts">Posts verwalten</a><br>
      <a class="btnHref"href="/admin/courses">Alle Kurse</a><br>
      <a class="btnHref"href="/admin/equipment">Ausstattung</a><br>
      <a class="btnHref"href="/admin/students">Alle Schüler</a><br>
      <a class="btnHref"href="/admin/manage">Organisiere den nächsten Kurs</a><br>
    </div>
  </div>
</section>