<h1>Admin links</h1>
<ul>
  <li><a href="/admin/postAdmin">Post something</a></li>
  <li><a href="/admin/courses">View Courses</a></li>
  <li><a href="/admin/equipment">View Equipment</a></li>
  <li><a href="/admin/students">View Students</a></li>
  <li><a href="/admin/manage">Manage next cohort</a></li>
</ul>