<div class="page-title">
  <h1 class="page-title">Stundenplan - Failed</h1>
</div>
<p>
  <section class="card-container">

    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <h1>Bei der Bestätigung ist etwas schief gegangen!</h1>
      </div>
    </div>
  </section>
</p>