<div class="page-title">
  <h1 class="page-title">Stundenplan - Erfolg</h1>
</div>
<p>
  <section class="card-container">

    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <h1>Du hast erfolgreich den Stundenplan bestätigt!</h1>
        <h3>Alle Schüler bekommen eine Mail mit ihren Kursinfos!</h3>
        <h3>Solten Sie neu sein, bekommen Sie auch Infos mit ihren Login Daten!</h3>
        <h3>Alle Kurse wurden von der Kursübersichts Seite entfernt!</h3>
        <h3>Du bekommst gleich eine Mail, mit dem Stundenplan!</h3>
        <h4>Bitte versuche nicht, den Stundenlan nochmal zu generieren!</h4>
      </div>
    </div>
  </section>
</p>