<h1>Post as a admin</h1>
<form action="/admin/postAdmin" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title" id="title">
  <br><br>
  <label for="text">Text:</label>
  <input type="text" name="text" id="text">
  <br><br>
  <button type="submit">Create Post</button>
</form>