<div class="page-title">
  <h1 class="page-title">Admin - edit a student</h1>
</div>
<h1>Edit the email from {{student.name}}</h1>
<form action="/admin/students/edit/{{student._id}}" method="post">
  <label for="email">Email</label>
  <input type="text" name="email" id="email" value="{{student.email}}">
  <button type="submit">Update Email</button>
</form>