<h1>All posts</h1>
<p>
  {{#each posts}}
  <div class="card" style="width: 18rem;">
    {{#if this.imgPath}}
    <img class="card-img-top" src="{{ this.imgPath }}" alt="Card image cap">
    {{/if}}
    <div class="card-body">
      <h5 class="card-title">{{this.header}}</h5>
      <p class="card-text">{{this.content}}</p>
      <h6 class="card-subtitle mb-2 text-muted">by {{this._creator.name}}</h6>
    </div>
  </div>
  {{/each}}
</p>