<h1>Der neue Studenplan:</h1>
<br>
<hr><br>
{{#allCourses}}
<p>
  <h3>Kurs: {{name}}</h3>
  <table>
    <tr>
      <th>Schüler/Daten</th>
      {{#dates}}
      <th>{{date}}</th>
      {{/dates}}
    </tr>
    {{#_students}}
    <tr>
      <th>{{name}}</th>
    </tr>
    {{/_students}}
  </table>
</p><br>
<hr><br>
{{/allCourses}}