<div class="page-title">
  <h1 class="page-title">Kurse</h1>
</div>
<p>Information über Kurse</p>
<p><a href="/anmeldung/kurse">Buchen</a><br><br>
  Upcoming courses:<br>
  <ul>
    {{#each courses}}
    <li>{{this.dates.length}}x {{this.name}}, Startdate:{{this.startDate}}. Teacher: {{this.teacher}}</li>
    {{/each}}
  </ul>
</p>