<div class="page-title">
  <h1 class="page-title">Nähkurse</h1>
</div>

<p>
  <section class="card-container">

    <div class="card" style="width: 30rem;">
      <img src="../images/kurs.jpg" alt="Nähkurs" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Unsere Kurse</h5>
        <p class="card-text">Jede Woche finden bei uns Kurse zu verschiedenen Uhrzeiten statt. Die Kurse finden
          wöchentlich statt, immer zum gleichen Zeitpunkt, und gehen über 10-14 Termine. Bevor Sie sich für einen Kurs
          anmelden, schreiben Sie doch bitte einmal eine Email oder rufen sie einmal an!</p>
        <a href="/anmeldung/kurse" class="btn btn-primary">Buchen</a>
        <a href="/naehkurse/kurse" class="btn btn-primary">Mehr Infos</a>
      </div>
    </div>

    <div class="card" style="width: 30rem;">
      <img src="https://static.wixstatic.com/media/4da4ea_dfb2cc37312848f093d78fe69c2acc5c~mv2_d_3264_1836_s_2.jpg/v1/fill/w_351,h_269,al_c,q_80,usm_0.66_1.00_0.01/4da4ea_dfb2cc37312848f093d78fe69c2acc5c~mv2_d_3264_1836_s_2.webp"
        alt="Workshop" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Unsere Workshops</h5>
        <p class="card-text">An Wochenenden und in den Ferien finden immer wieder Workshops statt. Schaut einfach mal
          rein, was es da für besondere Angebote gibt!</p>
        <a href="/anmeldung/workshops" class="btn btn-primary">Buchen</a>
        <a href="/naehkurse/workshops" class="btn btn-primary">Mehr Infos</a>
      </div>
    </div>

  </section>
</p>