/* 

dark purple #5A1F69
blue-purple #351F69
grey #A5ABBC
light purple #F9F3FD 

*/


body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F9F3FD;
  color: #5A1F69;
  font-family: 'Alegreya', serif;
}

#header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  border-bottom: 2px solid #5A1F69;
}

#login-container {
  display: flex;
  margin-left: auto;
  padding-right: 20px;
  padding-top: 20px;
  justify-content: center;
}


a {
  font-family: 'Open Sans', sans-serif;
  color: #5A1F69;
}
