/* 

dark purple #5A1F69
blue-purple #351F69
grey #A5ABBC
light purple #F9F3FD 

*/
html {
  font-size: 10px; }

body {
  padding: 0px;
  margin: 0px;
  background-color: #F9F3FD;
  color: #5A1F69;
  font-family: 'Alegreya', serif;
  font-size: 1.5rem;
  background-image: url("../images/woman.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed; }

#header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white; }

#header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  align-content: center;
  margin: 0;
  padding: 10px; }

.body-container {
  margin-bottom: 50px; }

#icon {
  width: 50px;
  height: 50px; }

#icon2 {
  display: none; }

#title {
  text-align: center; }

.login-logout {
  display: none; }

.navbar {
  border-radius: 7px; }

.nav-style {
  color: #5A1F69;
  font-family: 'Alegreya', serif;
  font-size: 2rem;
  border-radius: 5px; }

.nav-style:hover {
  color: #5A1F69;
  text-decoration: none;
  background-color: #A5ABBC; }

.nav-style:active {
  color: #351F69;
  text-decoration: none;
  background-color: #A5ABBC; }

#border-container {
  border-top: 2px solid #351F69;
  width: 80%;
  display: flex;
  justify-self: center;
  height: 15px;
  background-color: white; }

#title {
  font-size: 3.5rem; }

a {
  font-family: 'Open Sans', sans-serif;
  color: #5A1F69; }

.page-title {
  background-color: white;
  display: flex;
  justify-content: center;
  font-size: 2rem; }

.page-title h1 {
  padding-bottom: 5px; }

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.card {
  display: flex;
  align-items: center;
  margin: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 10px 9px 16px -5px rgba(0, 0, 0, 0.63); }

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center; }

.card-img-top {
  margin: 15px;
  width: 80%; }

.card-title {
  font-family: "Open Sans", sans-serif;
  justify-self: center; }

.card-text {
  font-family: "Open Sans", sans-serif;
  text-align: center; }

.btn1 {
  border-radius: 5px;
  background-color: #351F69; }

.btn1 a {
  color: white; }

.btn1 a:hover {
  color: #A5ABBC; }

.btnAll {
  box-shadow: 10px 9px 16px -5px rgba(0, 0, 0, 0.63); }

.btnAll a:hover {
  text-decoration: none; }

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px; }

#class-page-button {
  width: 150px;
  padding: 5px; }

#about-text {
  text-align: left; }

@media (min-width: 650px) {
  #header {
    display: flex;
    flex-direction: column; }
  #icon {
    display: none; }
  #icon2 {
    display: flex;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    padding-bottom: 5px; }
  #title-container {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .nav-item {
    margin: 5px; }
  .login-logout {
    display: flex;
    font-size: 2rem;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 20px; }
  #login-nav, #logout-nav {
    display: none; }
  .login-logout:hover {
    color: #5A1F69;
    text-decoration: none;
    background-color: #A5ABBC; }
  .login-logout:active {
    color: #351F69;
    text-decoration: none;
    background-color: #A5ABBC; }
  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .card-title {
    font-size: 2.5rem; }
  .card-text {
    font-size: 1.5rem;
    margin: 5px;
    padding-bottom: 10px;
    line-height: 2rem;
    text-align: justify; }
  body {
    background-size: 225px;
    background-position: right bottom; } }

/*# sourceMappingURL=style.css.map */